@font-face {
    font-family: "Inter, 400, Regular";
    font-style: normal;
    font-weight: 400;
    src: url("./Inter-Regular.ttf");
}

@font-face {
    font-family: "Inter, 500, Medium";
    font-style: normal;
    font-weight: 500;
    src: url("./Inter-Medium.ttf");
}

@font-face {
    font-family: "Inter, 600, Semi Bold";
    font-style: normal;
    font-weight: 600;
    src: url("./Inter-SemiBold.ttf");
}